* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #1b132b, #2a1f45);
}

a {
    color: #fff;
    text-decoration: none;

}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #c084fc;

}

.logo:hover {
    background: #a855f7;
    color: #140f1f;
    border: 2px solid #a855f7;
    border-width: 15px;
    border-radius: 30px;
    box-shadow: 0 0 10px #c084fc;
}

nav a {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: #c084fc;
}

#menu-icon {
    font-size: 4rem;
    display: none;
}


section {
    min-height: 100vh;
    padding: 100px 9% 60px;
    position: relative;
}

/*Banner part(home part)*/
.banner {
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    opacity: 0;
    transform: scale(0.95) translateY(40px);
    animation: homeAppear 1.2s ease forwards;

}

@keyframes homeAppear {
    0% {
        opacity: 0;
        transform: scale(0.95) translateY(40px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.banner-container h1 {
    font-size: 45px;
}

.banner-container h1 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #c084fc;
    white-space: normal;
}


.banner-container h1 span::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    color: #c084fc;
    overflow: hidden;
    clip-path: inset(0 100% 0 0);
    animation: fill-text 4s linear infinite;
}


@keyframes fill-text {

    0% {
        clip-path: inset(0 100% 0 0);
    }

    70% {
        clip-path: inset(0 0 0 0);
    }

    90% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.banner-container h2 {
    font-size: 20px;
    margin-top: -10px;
}

.banner-container p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.banner-container .btn-container {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #a855f7;
    border: 2px solid #a855f7;
    border-radius: 40px;
    box-shadow: 0 0 10px #c084fc;
    font-size: 16px;
    color: #140f1f;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #c084fc;
    box-shadow: none;
}

.banner-container .btn-container .social-media {
    margin-left: 20px;
}

.banner-container .btn-container .social-media a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #a855f7;
    border-radius: 50%;
    font-size: 20px;
    color: #c084fc;
    margin: 0 8px;
    transition: .5s;
}

.banner-container .btn-container .social-media a:hover {
    background: #a855f7;
    color: #140f1f;
    box-shadow: 0 0 10px #c084fc;
}

.banner-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-img .img-box::before,
.banner-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #a855f7);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.banner-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.banner-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1b132b;
    border-radius: 50%;
    border: .1px solid #1b132b;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;

}

.banner-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 110%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #221733;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s *var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }


}

/*about section*/
.about {
    padding: 120px 9%;
    min-height: 100vh;
}

.section-title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 6rem;
    color: #fff;
}

.section-title span {
    color: #a855f7;
}


.about-main {
    max-width: 1100px;
    margin: auto;
}


.about-intro-card {
    background: linear-gradient(145deg, #2a1f45, #1b132b);
    padding: 3.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 40px rgba(168, 85, 247, 0.25);
    margin-bottom: 4rem;
    transition: .4s ease;
}

.about-intro-card:hover {
    transform: translateY(-10px);
}

.about-intro-card p {
    font-size: 1.7rem;
    line-height: 1.8;
    color: #d8c9ff;
}


.education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 3rem;
}


.edu-card {
    background: #2a1f45;
    padding: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: .4s ease;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.12);
}

.edu-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 35px rgba(168, 85, 247, 0.35);
}

.edu-card h4 {
    font-size: 2.2rem;
    color: #a855f7;
    margin-bottom: 1.5rem;
}

.edu-card p {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: .8rem;
}

.edu-card span {
    font-size: 1.4rem;
    color: #d8c9ff;
}

/*skill section*/
.skills {
    min-height: 100vh;
    padding: 120px 9% 80px;
    background: #1b132b;
}

.section-title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
}

.section-title span {
    color: #a855f7;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 4rem;
}

.skill-card {
    background: #2a1f45;
    padding: 4rem 3rem;
    border-radius: 2rem;
    transition: .4s ease;
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.1);
}

.skill-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 40px rgba(168, 85, 247, 0.35);
}


.icon-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.5rem;
}


.skill-icon {
    font-size: 9rem;
    color: #fff;
    transition: .3s ease;
}

.skill-icon {
    width: 9rem;
    height: 9rem;
}

.skill-card:hover .skill-icon {
    transform: scale(1.1);
    color: #a855f7;
}


.arrow-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    transition: .3s ease;
}


.arrow-btn i {
    font-size: 2.2rem;
    color: #1b132b;
    transform: rotate(225deg);
    transition: .3s ease;
}


.arrow-btn:hover i {
    transform: translateX(-6px) rotate(180deg);
}

.skill-card:hover .arrow-btn {
    background: #c084fc;
}


.skill-name {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}


.skill-card p {
    font-size: 1.7rem;
    line-height: 1.8;
    color: #d8c9ff;
}

/*project part*/
.project-block {
    background: linear-gradient(145deg, #2a1f45, #1b132b);
    padding: 4rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 35px rgba(168, 85, 247, .2);
    margin-bottom: 6rem;
    transition: .5s ease;

}

.project-block:hover {
    transform: translateY(-10px);
}


.numb {
    font-size: 7rem;
    -webkit-text-stroke: .07rem #fff;
    color: transparent;
}



.project-block h3 {
    font-size: 3rem;
    color: #fff;
    margin: 1rem 0 2rem;
}


.project-desc {
    font-size: 1.6rem;
    color: #ddd;
    line-height: 1.7;
}


.tech {
    display: inline-block;
    margin: 2rem 0;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .05rem;

    color: #fff;
    background: linear-gradient(135deg, #a855f7, #7c3aed);

    padding: .7rem 1.8rem;
    border-radius: 1.2rem;

    box-shadow: 0 0 15px rgba(168, 85, 247, .35);

    transition: .4s ease;
    position: relative;
    overflow: hidden;
}


.tech:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 25px rgba(168, 85, 247, .7);
}


.tech::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, .4),
            transparent);
    transition: .6s;
}

.tech:hover::before {
    left: 100%;
}

.project-img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 3rem 0;
}

/* Responsive */

@media (max-width:1200px) {
    .project-img-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:900px) {
    .project-img-grid {
        grid-template-columns: 1fr;
    }
}


.img-box {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1.8rem;
    overflow: hidden;
    background: #1b132b;
    box-shadow: 0 0 25px rgba(168, 85, 247, .18);
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.5rem;
    transition: .6s ease;
    display: block;
}

.img-box:hover img {
    transform: scale(1.05);
}

.project-video {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.project-video video {
    width: 80%;
    max-width: 900px;
    border-radius: 1.5rem;
    box-shadow: 0 0 30px rgba(168, 85, 247, .25);
}

@media(max-width:600px) {
    .project-video video {
        width: 110%;
    }
}

.live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
    background: #1b132b;
    transition: .5s ease;
}


.live-github a:hover {
    color: #a855f7;
}


.live-github a:first-child {
    margin-right: 1.5rem;
}


.live-github a:first-child i {
    transform: rotate(135deg);
}


.live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: #fff;
    color: #221733;
    opacity: 0;
    transition: .2s ease;
}


.live-github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translate(-50%) scale(1);
}

/*without project part rest responsive*/
@media (max-width: 1200px) {

    section {
        padding: 90px 6%;
    }
}

@media (max-width: 992px) {

    /* Banner */
    .banner {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-top: 120px;
    }

    .banner-container .btn-container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .banner-img .img-box {
        width: 55vw;
        height: 55vw;
    }


    .about-main {
        text-align: center;
    }


    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        gap: 3rem;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem 5%;
    }

    nav a {
        margin-left: 2rem;
        font-size: 1.6rem;
    }

    .banner-container h1 {
        font-size: 32px;
    }

    .banner-img .img-box {
        width: 65vw;
        height: 65vw;
    }

    .section-title {
        font-size: 4rem;
    }

    .education-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {

    nav {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .logo {
        font-size: 24px;
    }

    .banner-container h1 {
        font-size: 26px;
    }

    .banner-container p {
        font-size: 14px;
    }

    .btn {
        padding: 9px 20px;
        font-size: 14px;
    }

    .banner-img .img-box {
        width: 70vw;
        height: 70vw;
    }
}

#menu-toggle {
    display: none;
}

/*3line menu part in index.html*/
@media(max-width:600px) {

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #1b132b;
        padding: 2rem;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 30px rgba(168, 85, 247, .2);
    }

    #menu-toggle:checked~nav {
        display: flex;
    }

    #menu-icon {
        display: block;
        font-size: 4rem;
        cursor: pointer;
        color: #fff;
    }
}

/*footer*/
footer {
    background: #0f0a1a;
    padding: 3.5rem 9%;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 60px;
    box-shadow: 0 -5px 30px rgba(168, 85, 247, 0.12);
}

.footer-container p {
    letter-spacing: .05rem;
}

/* footer Responsive */
@media(max-width:768px) {
    footer {
        padding: 2rem 5%;
    }
}

/*contact me part*/
section {
    padding: 40px 15%;
}

.contact {
    padding: 40px 15%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-img img {
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
}

.contact-form h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

span {
    color: #a855f7;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #2a1f45;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background: #a855f7;
    border: 2px solid #a855f7;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 0 10px #c084fc;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #140f1f;
    font-weight: 600;
    transition: ease .20s;
    cursor: pointer;

}

.contact-form form .btn:hover {
    background: transparent;
    color: #c084fc;
    box-shadow: none;
}

@media screen and (max-width: 1570px) {
    section {
        padding: 80px 3%;
        transition: .2s;
    }

    .contact-form h1 {
        font-size: 40px;
    }

}

@media screen and (max-width:1090px) {
    .contact {
        grid-gap: 2rem;
        transition: .3s;
    }
}

@media screen and (max-width:1000px) {
    .contact {
        grid-template-columns: 1fr;
    }

    .contact-form {
        order: 2;
    }

    .contact-img img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }

}

/*.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.project-detail {
    display: none;
}

.project-detail.active {
    display: block;
}

.project-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem #fff;
    color: transparent;
    line-height: 1;
}

.project-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.project-box p {
    font-size: 1.6rem;
}

.project-box .tech {
    margin: 2rem 0;
    color: #a855f7;
    border-bottom: .1rem solid #fff;
    padding-bottom: 2rem;
}

.project-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
    background: #1b132b;
    transition: .5s;
}

.project-box .live-github a:hover {
    color: #a855f7;
}

.project-box .live-github a:first-child {
    margin-right: 1.5rem;
}

.project-box .live-github a:first-child i {
    transform: rotate(135deg);
}

.project-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: #fff;
    color: #221733;
    opacity: 0;
    transition: .2s;
}

.project-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translate(-50%) scale(1);
}

.project-box .project-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
}

.project-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.project-carousel .img-item {
    height: inherit;
}

.project-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.project-box .navigation {
    text-align: right;
    margin-top: 2rem;
}

.project-box .navigation button {
    display: inline-flex;
    padding: .4rem;
    background: #2a1f45;
    border: .2rem solid #a855f7;
    border-radius: .6rem;
    font-size: 4rem;
    color: #a855f7;
    cursor: pointer;
}

.project-box .navigation .arrow-right {
    margin-left: 1.5rem;

}*/